.photos {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px;
    justify-content: center;
    flex-wrap: wrap;
}

.photos__photo {
    width: 300px;
    height: 100%;
}

.pagination {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.active-page {
    background-color: #f1efef;
}