.photos {
    display: flex;
    flex-direction: column;
    padding: 10px;
    justify-content: center;
    flex-wrap: wrap;
}

.photos__photo {
    width: 150px;
    height: 150px;
    overflow: hidden;
    margin: 0 10px 10px 0;
}

.form-select {
    margin: 10px;
}